Fundemental data types
-----------------------------------
int   = integer
float = floating point number(contain decimal points)
bool  = boolean value, True or false
str   = string, A string is a sequence of characters
list  = Lists are used to store multiple items in a single variable
tuple = Tuples are used to store multiple items in a single variable, ordered and unchangeable.
set   = Sets are used to store multiple items in a single variable, unordered and unindexed.
dict  = Dictionaries are used to store data values in key:value pairs, unordered, changeable and does not allow duplicates

In [4]:
#Fundemental Data Types
#int and float
print(type(2 + 4))
print(type(2 - 4))
print(type(2 * 4))
print(type(2 / 4)) #0.5

print(type(4.666))
print(2 ** 3)  #to the power of
print(2 // 4)  #rounded down to int
print(5 % 4)   #modulo: remainder of dividing two numbers

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
8
0
1

Math Functions

In [5]:
#Math Functions
print(round(4.1)) #rounds up/down number 
print(abs(-20))   #gets absoulte number

4
20

Operator Precedence

In [6]:
#operator precedence
# ()
# **
# *, /
# -, +

print(20 - 3 * 4) #* goes first then -
print((20 - 3) + 2 ** 2) # () is done first, then **

8
21

Expressions and Statments

In [7]:
iq = 100          # this is a statment
user_age = iq / 5 #this is an expression, a piece of code that produces a value
print(user_age)

20.0

Augmented Assignment Operator

In [9]:
some_value = 5
some_value = some_value + 2
print(some_value)

7

In [10]:
some_value = 5
some_value +=  2  #removeing some_value and add +before + is a Augmented Assignment Operator
print(some_value)

7

String

In [11]:
print(type("hi, Hello there"))

<class 'str'>

In [12]:
print(type("Hi, Hello There"))
username = "supercoder"
password = "supersecret"
long_string = '''  
WOW
O O
---
'''      #long strings on multible lines use '''

print(long_string)

<class 'str'>

WOW
O O
---

In [14]:
first_name = "Tony"
last_name = "O'Connor"
full_name = first_name + ' ' + last_name #you can add string together, and add space using ''
print(full_name)

Tony O'Connor

String Concatention "adding strings together"

In [15]:
print('hi There,' + 'Tony O Connor')

hi There,Tony O Connor

Type Conversion

In [16]:
#type conversion
print(type(str(100))) #we have converted 100 into a string using str

<class 'str'>

In [17]:
print(type(int(str(100)))) #we have converted 100 into a string using str then backu to int

<class 'int'>

Escape Sequence

In [18]:
#Escape Sequence
weather = "it\'s \"kind of\" sunny" # you need to add \ if you want to put ' or" in a string. so is says \ "whatever comes after this is a string"

print(weather)

it's "kind of" sunny

In [19]:
#Escape Sequence
weather = "\tit\'s \"kind of\" sunny" # \t says "whatever comes after this is a tab"

print(weather)

	it's "kind of" sunny

In [21]:
#Escape Sequence
weather = "\tit\'s \"kind of\" sunny\n Hoep you have a good day." # \n says "whatever comes after this is a new line"

print(weather)

	it's "kind of" sunny
 Hoep you have a good day.

Formated Strings

In [22]:
#Formated Strings
name = 'Tony'
age = 55

print('hi ' + name + '. You are ' + str(age)  + ' years old')

hi Tony. You are 55 years old

In [23]:
#Formated Strings
name = 'Tony'
age = 55

print(f'hi {name}. You are {age} years old') # this is a formated string, add f to start of string

hi Tony. You are 55 years old

In [24]:
name = 'Tony'
age = 55

print('hi {}. You are {} years old'.format(name, age)) #you can also use .format to format a string

hi Tony. You are 55 years old

In [25]:
name = 'Tony'
age = 55

print('hi {1}. You are {0} years old'.format(name, age)) #you can change order of format using 1,0

hi 55. You are Tony years old

String Indexes

In [26]:
#String Indexes
selfish = 'me me me'
          #01234567

print(selfish[0]) # the [0] prints the value of 0 characters in the string "first slot in the string"
print(selfish[4]) # the [4] prints the value of 4th characters in the string
print(selfish[2]) # the [2] prints the value of 2nd characters in the string
print(selfish[7]) # the [0] prints the value of 7th characters in the string

m
e

e

In [31]:
selfish = '01234567'
          #01234567

print(selfish[0:2]) # [start:stop], start at 0 but stop printing at 2
print(selfish[0:7]) # [start:stop], start at 0 but stop printing at 7

01
0123456

In [32]:
selfish = '01234567'
          #01234567

print(selfish[0:8:2]) # [start:stop:stepover], start at 0 but stop printing at 8, stepover by 2 (skip every second one)

0246

In [33]:
selfish = '01234567'
          #01234567

print(selfish[1:]) # [start:], start at 1 but go to the end

1234567

In [34]:
selfish = '01234567'
          #01234567

print(selfish[:5]) # [:stop], stop at 5

01234

In [35]:
selfish = '01234567'
          #01234567

print(selfish[::2]) # [::stepover], skip every second one

0246

In [37]:
selfish = '01234567'
          #01234567

print(selfish[-1]) # start at the end
print(selfish[-2])
print(selfish[-3])

7
6
5

In [39]:
selfish = '01234567'
          #01234567

print(selfish[::-1]) # [::stepover],print out string backwards
print(selfish[::-2]) # [::stepover],print out string backwards skip every second one.

76543210
7531

Immutability

In [43]:
#immutability
selfish = '01234567'
          #01234567

selfish[0] = '8' #Error: because strings are immutable, cant be changed. 
                 #you cannot change the value of selfish once its been assigned
print(selfish)

TypeError: 'str' object does not support item assignment

Functions & Methods
https://docs.python.org/3/library/functions.html
https://www.w3schools.com/python/python_ref_string.asp

In [44]:
#Functions & Methods
print(len('heloooooooooo')) # len(function) to give you the length of a string

13

In [45]:
#Functions & Methods
quote = 'To Be or Not To Be'

print(quote.upper()) #.upper method converts string to all Capitals

#string methods are actions only strings can preform
#start with .

TO BE OR NOT TO BE

In [46]:
quote = 'To Be or Not To Be'

print(quote.capitalize()) #.capitalize method caps the first letter of string

To be or not to be

In [48]:
#Functions & Methods
quote = 'To be or Not To be'

print(quote.find('be')) #.find askes does whatever is in '' exist in the string and where does it start in the string

3

In [49]:
#Functions & Methods
quote = 'To be or Not To be'

print(quote.replace('be', 'me')) #.replace finds 'be' and replaces it with 'me'

To me or Not To me

In [50]:
#Functions & Methods
quote = 'To be or Not To be'

print(quote.replace('be', 'me')) #.replace finds 'be' and replaces it with 'me'

print(quote) # prinst our quote as above because strings are immutable

To me or Not To me
To be or Not To be

Excersise: type conversion

In [51]:
birth_year = input('What year were you born? ') #adds input (year) to birth_year as a string

age = 2021 - int(birth_year) #int converts birth_year to an interger and does maths on it

print(f'you are: {age} ')  #outputs age

What year were you born? 1975
you are: 46