Fundemental data types
-----------------------------------
int   = integer
float = floating point number(contain decimal points)
bool  = boolean value, True or false
str   = string, A string is a sequence of characters
list  = Lists are used to store multiple items in a single variable
tuple = Tuples are used to store multiple items in a single variable, ordered and unchangeable.
set   = Sets are used to store multiple items in a single variable, unordered and unindexed.
dict  = Dictionaries are used to store data values in key:value pairs, unordered, changeable and does not allow duplicates

In [4]:
#Fundemental Data Types
#int and float
print(type(2 + 4))
print(type(2 - 4))
print(type(2 * 4))
print(type(2 / 4)) #0.5

print(type(4.666))
print(2 ** 3)  #to the power of
print(2 // 4)  #rounded down to int
print(5 % 4)   #modulo: remainder of dividing two numbers

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
8
0
1

Math Functions

In [5]:
#Math Functions
print(round(4.1)) #rounds up/down number 
print(abs(-20))   #gets absoulte number

4
20

Operator Precedence

In [6]:
#operator precedence
# ()
# **
# *, /
# -, +

print(20 - 3 * 4) #* goes first then -
print((20 - 3) + 2 ** 2) # () is done first, then **

8
21

Expressions and Statments

In [7]:
iq = 100          # this is a statment
user_age = iq / 5 #this is an expression, a piece of code that produces a value
print(user_age)

20.0

Augmented Assignment Operator

In [9]:
some_value = 5
some_value = some_value + 2
print(some_value)

7

In [10]:
some_value = 5
some_value +=  2  #removeing some_value and add +before + is a Augmented Assignment Operator
print(some_value)

7

String

In [11]:
print(type("hi, Hello there"))

<class 'str'>

In [12]:
print(type("Hi, Hello There"))
username = "supercoder"
password = "supersecret"
long_string = '''  
WOW
O O
---
'''      #long strings on multible lines use '''

print(long_string)

<class 'str'>

WOW
O O
---

In [14]:
first_name = "Tony"
last_name = "O'Connor"
full_name = first_name + ' ' + last_name #you can add string together, and add space using ''
print(full_name)

Tony O'Connor

String Concatention "adding strings together"

In [15]:
print('hi There,' + 'Tony O Connor')

hi There,Tony O Connor

Type Conversion

In [16]:
#type conversion
print(type(str(100))) #we have converted 100 into a string using str

<class 'str'>

In [17]:
print(type(int(str(100)))) #we have converted 100 into a string using str then backu to int

<class 'int'>

Escape Sequence

In [18]:
#Escape Sequence
weather = "it\'s \"kind of\" sunny" # you need to add \ if you want to put ' or" in a string. so is says \ "whatever comes after this is a string"

print(weather)

it's "kind of" sunny

In [19]:
#Escape Sequence
weather = "\tit\'s \"kind of\" sunny" # \t says "whatever comes after this is a tab"

print(weather)

	it's "kind of" sunny

In [21]:
#Escape Sequence
weather = "\tit\'s \"kind of\" sunny\n Hoep you have a good day." # \n says "whatever comes after this is a new line"

print(weather)

	it's "kind of" sunny
 Hoep you have a good day.

Formated Strings

In [22]:
#Formated Strings
name = 'Tony'
age = 55

print('hi ' + name + '. You are ' + str(age)  + ' years old')

hi Tony. You are 55 years old

In [23]:
#Formated Strings
name = 'Tony'
age = 55

print(f'hi {name}. You are {age} years old') # this is a formated string, add f to start of string

hi Tony. You are 55 years old

In [24]:
name = 'Tony'
age = 55

print('hi {}. You are {} years old'.format(name, age)) #you can also use .format to format a string

hi Tony. You are 55 years old

In [25]:
name = 'Tony'
age = 55

print('hi {1}. You are {0} years old'.format(name, age)) #you can change order of format using 1,0

hi 55. You are Tony years old

String Indexes

In [26]:
#String Indexes
selfish = 'me me me'
          #01234567

print(selfish[0]) # the [0] prints the value of 0 characters in the string "first slot in the string"
print(selfish[4]) # the [4] prints the value of 4th characters in the string
print(selfish[2]) # the [2] prints the value of 2nd characters in the string
print(selfish[7]) # the [0] prints the value of 7th characters in the string

m
e

e

In [31]:
selfish = '01234567'
          #01234567

print(selfish[0:2]) # [start:stop], start at 0 but stop printing at 2
print(selfish[0:7]) # [start:stop], start at 0 but stop printing at 7

01
0123456

In [32]:
selfish = '01234567'
          #01234567

print(selfish[0:8:2]) # [start:stop:stepover], start at 0 but stop printing at 8, stepover by 2 (skip every second one)

0246

In [33]:
selfish = '01234567'
          #01234567

print(selfish[1:]) # [start:], start at 1 but go to the end

1234567

In [34]:
selfish = '01234567'
          #01234567

print(selfish[:5]) # [:stop], stop at 5

01234

In [35]:
selfish = '01234567'
          #01234567

print(selfish[::2]) # [::stepover], skip every second one

0246

In [37]:
selfish = '01234567'
          #01234567

print(selfish[-1]) # start at the end
print(selfish[-2])
print(selfish[-3])

7
6
5

In [39]:
selfish = '01234567'
          #01234567

print(selfish[::-1]) # [::stepover],print out string backwards
print(selfish[::-2]) # [::stepover],print out string backwards skip every second one.

76543210
7531

Immutability

In [43]:
#immutability
selfish = '01234567'
          #01234567

selfish[0] = '8' #Error: because strings are immutable, cant be changed. 
                 #you cannot change the value of selfish once its been assigned
print(selfish)

TypeError: 'str' object does not support item assignment

Functions & Methods
https://docs.python.org/3/library/functions.html
https://www.w3schools.com/python/python_ref_string.asp

In [44]:
#Functions & Methods
print(len('heloooooooooo')) # len(function) to give you the length of a string

13

In [45]:
#Functions & Methods
quote = 'To Be or Not To Be'

print(quote.upper()) #.upper method converts string to all Capitals

#string methods are actions only strings can preform
#start with .

TO BE OR NOT TO BE

In [46]:
quote = 'To Be or Not To Be'

print(quote.capitalize()) #.capitalize method caps the first letter of string

To be or not to be

In [48]:
#Functions & Methods
quote = 'To be or Not To be'

print(quote.find('be')) #.find askes does whatever is in '' exist in the string and where does it start in the string

3

In [49]:
#Functions & Methods
quote = 'To be or Not To be'

print(quote.replace('be', 'me')) #.replace finds 'be' and replaces it with 'me'

To me or Not To me

In [50]:
#Functions & Methods
quote = 'To be or Not To be'

print(quote.replace('be', 'me')) #.replace finds 'be' and replaces it with 'me'

print(quote) # prinst our quote as above because strings are immutable

To me or Not To me
To be or Not To be

Excersise: type conversion

In [51]:
birth_year = input('What year were you born? ') #adds input (year) to birth_year as a string

age = 2021 - int(birth_year) #int converts birth_year to an interger and does maths on it

print(f'you are: {age} ')  #outputs age

What year were you born? 1975
you are: 46

https://realpython.com/python-comments-guide/

In [1]:
#Exercise: password checker
username = input('what is your username? ')
password = input('what is your password? ')


password_length = len(password) #find length of 'password'
hidden_password = '*' * password_length #hide 'password' by multiplying it length by *
password_piece = password[0]
password_backwards = password[::-1]

print(f'{username}, your password is {hidden_password } and is {password_length} letters long. The first letter of your password is {password_piece} and your password backwards is {password_backwards}')

what is your username? tony
what is your password? thisismypassword
tony, your password is **************** and is 16 letters long. The first letter of your password is t and your password backwards is drowssapymsisiht

Lists

In [4]:
#lists, Lists are used to store multiple items in a single variable

li = [1, 2.5, "hello", True]
print(li)

#lists work like a cart in amazon
amazon_cart=['notebook', 'sunglases']

print(amazon_cart[0]) # print first item in amazon_cart

[1, 2.5, 'hello', True]
notebook

list slicing

In [8]:
#lists are immutable (they can be changed)
amazon_cart=[
    'notebook', 
    'sunglases',
    'toys',
    'grapes']

amazon_cart[0] = 'laptop'   #change first item in the cart
new_cart = amazon_cart[0:3] #make new_cart using only first 3 items of amazon-cart
new_cart[0] = 'gum'         # now change first item of new_cart to be 'gum'

print(new_cart)             # new cart
print(amazon_cart)          #laptop is now first item in the list

['gum', 'sunglases', 'toys']
['laptop', 'sunglases', 'toys', 'grapes']

list Methods
https://www.w3schools.com/python/python_ref_list.asp

In [11]:
#list Methods 
#a method is a action that is owned by something and is specific to a data type

basket = [1,2,3,4,5]

#adding method
basket.append(100) #append changes the list in place (add to the end of the list)
print(basket)

#insert method
basket.insert(4,100) #insert value in a certin place (put 100 in the 4th place)
print(basket)

#extend method
basket.extend([200,101]) #extend list and add values (add 200 & 100 to list)
print(basket)

#remove
basket.pop() #pop removes the last indexed item in the list
print(basket)

basket.pop(0) #pop removes the first indexed item in the list
print(basket)

basket.remove(4) #remove, remove the value in () from the list
print(basket)

basket.clear() #clears out all contests of the list
print(basket)

[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4, 100, 5, 100]
[1, 2, 3, 4, 100, 5, 100, 200, 101]
[1, 2, 3, 4, 100, 5, 100, 200]
[2, 3, 4, 100, 5, 100, 200]
[2, 3, 100, 5, 100, 200]
[]

In [12]:
basket = ['a','b', 'c', 'e', 'f']

#Index
print(basket.index('b')) #index tells you where in the list 'value' is (where is b on the list?)

1

In [15]:
basket = ['a','b', 'c', 'e', 'f']

#Index
print(basket.index('b', 0, 4)) #index tells you where in the list 'value' is (where is b BUT start looking between 0 and 2? )

1

In [16]:
basket = ['a','b', 'c', 'e', 'f']

#keywords
print('b' in basket) #in, asks if a value is in the list, boolean answer = true or False

True

In [17]:
basket = ['a','b', 'c', 'e', 'f']

#keywords
print('x' in basket) #in, asks if a value is in the list, boolean answer = true or False

False

In [21]:
basket = ['a','b', 'c', 'e', 'f', 'b']

#keywords
print(basket.count('b')) #count, asks how many time the value is in the list

2

In [22]:
basket = ['a','b', 'x', 'c', 'e', 'f']

#keywords
basket.sort() #sorts the list in place
print(basket)

['a', 'b', 'c', 'e', 'f', 'x']

In [23]:
basket = ['a','b', 'x', 'c', 'e', 'f']

#keywords
print(sorted(basket)) #sorted, produces a new array copy of basket and sorts it
print(basket)

['a', 'b', 'c', 'e', 'f', 'x']
['a', 'b', 'x', 'c', 'e', 'f']

In [24]:
basket = ['a','b', 'x', 'c', 'e', 'f']

#keywords
basket.reverse() #reverses the basket
print(basket)

['f', 'e', 'c', 'x', 'b', 'a']

In [25]:
basket = ['a','b', 'x', 'c', 'e', 'f']

#keywords
basket.sort() #sorts basket
basket.reverse() #reverses the basket
print(basket) #print a sorted reversed basket

['x', 'f', 'e', 'c', 'b', 'a']

In [26]:
basket = ['a','b', 'x', 'c', 'e', 'f']

basket.sort() #sorts basket
basket.reverse() #reverses basket
print(basket[::-1]) #creates a new list and reverses the.reverse method
print(basket) #basket still sorted and only reversed once

['a', 'b', 'c', 'e', 'f', 'x']
['x', 'f', 'e', 'c', 'b', 'a']

In [27]:
print(list(range(1,100))) #print a list of numbers from 1 to 99

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [28]:
print(list(range(101))) #print a list of numbers from 0 to 100

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [29]:
sentence = ' '
new_sentence = sentence.join(['hi', 'my', 'name', 'is', 'JOJO']) #joins the list new_sentence to variable sentence

print(new_sentence)

hi my name is JOJO

In [30]:
#shorthand version of above

new_sentence = ' '.join(['hi', 'my', 'name', 'is', 'JOJO']) #add string ' ' before.join

print(new_sentence)

hi my name is JOJO

In [34]:
#list unpacking
a,b,c, *other, d = [1,2,3,4,5,6,7,8,9]

print(a)  #print a which = first itel on list
print(b)  #print b which = second item on list
print(c)  #print c which = third item on the list
print(other) #print next 5 item on the list " 5 characters in other"
print(d) #print last item on the list

1
2
3
[4, 5, 6, 7, 8]
9

Dictionaries

In [35]:
#Dictionaries are used to store data values in key:value pairs.
#A dictionary is a collection which is unordered, changeable and does not allow duplicates.
#Dictionaries are written with curly brackets, and have keys and values

dictionary = {
  'a' : 1,     #key = a, value = 1
  'b' : 2      #key = b, value = 2
}

print(dictionary['b']) #print key 'b'

2

In [36]:
dictionary = {
  'a' : [1,2,3], #key = a, value = list
  'b' : 'hello', #key = b, value = string
  'x' : True     #key = c, value = boolean
}

print(dictionary['a'][1]) #print from key = a, item 2 from the list

2

In [38]:
#dictionaries
dictionary = {
  'a' : [1,2,3],
  'b' : 'hello',
  'x' : True
}
#my list is a list with 2 dictionaries in it
my_list = [{
  'a' : [1,2,3],
  'b' : 'hello',
  'x' : True
},
{
  'a' : [4,5,6],
  'b' : 'hello',
  'x' : True
}]

print(my_list[0]['a'][2]) #print out, [0] first ithe in list, with key = a, and third item in that list
print(dictionary['a'][1]) #print from key = a, item 2 from the list

3
2

In [39]:
#dictionaries
user = {
  'basket': [1,2,3],
  'greet' : 'hello',
}

print(user['age']) #print 'age' key from user dictionary (IT WILL GIVE AN ERROR)

KeyError: 'age'

In [41]:
#dictionaries
user = {
  'basket': [1,2,3],
  'greet' : 'hello',
}

print(user.get('age')) #use .get method insted to print 'age' key from user dictionary (it will return NONE insted of error)

None

In [42]:
#dictionaries
user = {
  'basket': [1,2,3],
  'greet' : 'hello',
}

print(user.get('age', 55)) #use .get method to print 'age' and if its not there use 55 as default value

55

In [43]:
#dictionaries
user = {
  'basket': [1,2,3],
  'greet' : 'hello',
    'age' : 20
}

print(user.get('age', 55)) #use .get method to print 'age' and if its not there use 55 as default value (but it is)

20

In [46]:
#dictionaries
user = {
  'basket': [1,2,3],
  'greet' : 'hello',
  'age' : 20
}

user2 = user.copy()  #copy dictionary user
print(user.clear()) #clears user and returns a NONE value
print(user2)

None
{'basket': [1, 2, 3], 'greet': 'hello', 'age': 20}

In [48]:
#dictionaries
user = {
  'basket': [1,2,3],
  'greet' : 'hello',
  'age' : 20
}

print(user.pop('age')) #.pop removes the key 'age' but returns its value
print(user)            #user is now missing 'age'

20
{'basket': [1, 2, 3], 'greet': 'hello'}

In [49]:
#dictionaries
user = {
  'basket': [1,2,3],
  'greet' : 'hello',
  'age' : 20
}

print(user.popitem()) #removes some pair on the dictionary and returns it value
print(user)

('age', 20)
{'basket': [1, 2, 3], 'greet': 'hello'}

In [50]:
#dictionaries
user = {
  'basket': [1,2,3],
  'greet' : 'hello',
  'age' : 20
}

print(user.update({'age': 55})) #updates key = 'age' to = 55
print(user)

None
{'basket': [1, 2, 3], 'greet': 'hello', 'age': 55}

Tuples : Tuples are used to store multiple items in a single variable.
A tuple is a collection which is ordered and unchangeable.
Tuples are written with round brackets

In [51]:
#tuple
my_tuple = (1,2,3,4,5)
print(5 in my_tuple) #is 5 in my-tuple

True

In [52]:
#tuple
my_tuple = (1,2,3,4,5)
new_tuple = my_tuple[1:2] #start at 1 and end at 2 in my_tuple
print(new_tuple)

(2,)

In [53]:
#tuple
my_tuple = (1,2,3,4,5)
new_tuple = my_tuple[1:4] #start at 1 and end at 4 in my_tuple
print(new_tuple)

(2, 3, 4)

In [54]:
#tuple
my_tuple = (1,2,3,4,5)

print(my_tuple.count(5)) #.count Returns the number of times a specified value occurs in a tuple

1

In [55]:
#tuple
my_tuple = (1,2,3,4,5)

print(my_tuple.index(5)) #.index Searches the tuple for a specified value and returns the position of where it was found

4

Sets : Sets are used to store multiple items in a single variable.
A set is a collection which is both unordered and unindexed.
Sets are written with curly brackets.

In [56]:
#sets are unordered collections of unique objects

my_set = {1,2,3,4,5,5,5,5,5,5}

print(my_set) #it will only return unique objects once

{1, 2, 3, 4, 5}

In [57]:
my_set = {1,2,3,4,5}
my_set.add(100)
my_set.add(2) #it wont add 2 to the set as its allreay there
print(my_set)

{1, 2, 3, 4, 5, 100}

In [58]:
#print out only unique objects from a list

my_list = [1,1,2,2,3,3,4,4,5,5,6]

my_set = set(my_list) #convert the list to a set

print(my_set)

{1, 2, 3, 4, 5, 6}

In [59]:
my_set = {1,1,2,2,3,3,4,4,5,5,6}

print(1 in my_set) #is 1 in my set?
print(len(my_set)) #how long are the unique objects in my_set

True
6

In [60]:
#set methods

my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.difference(your_set)) #Returns a set containing the difference between two or more sets

{1, 2, 3}

In [61]:
#sets methods
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

my_set.discard(5) #Remove 5 specified item from my_set
print(my_set)

{1, 2, 3, 4}

In [62]:
#sets methods
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

my_set.difference_update(your_set) #Removes the items in this set that are also included in another, specified set
print(my_set)

{1, 2, 3}

In [63]:
#sets methods
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.intersection(your_set)) #Returns a set, that is the intersection of two other sets

{4, 5}